# Google Analytics Configuration
GA_PROPERTY_ID=123456789
 

# Server Configuration
PORT=4000

# API Configuration
API_BASE_URL=https://chub-j3ha.onrender.com

# Google Analytics Service Account (JSON content for deployment)
 